.account-page{
    margin-top: -30px;
    padding: 50px 0;
    background: radial-gradient(#fff,#ffd6d6);
    height: 700px;
    
}
.form-control{
	width: 100%;
	position: relative;
	margin-top: 22px;
}
.bg-c{
    background: linear-gradient(120deg,  #9b408f,#3ca7ee);
}
.nav ul li a{
    color: black;
    font-size: 20px;
}
.form-control small{
    padding-left: 0;
}

.form-control.error small{
	color: #e74c3c;
    padding-right: 160px;
}

.form-control.error input{
	border-bottom: 2px solid #e74c3c;
}

.btn-submit{
	width: 100%;
	height: 50px;
	border-radius: 26px;
	border: none;
	outline: none;
	background: #2691d9;
	color: white;
	font-size: bold;
	margin: 20px 0;
	transition: 0.3s;
	font-size: 30px;
	font-weight: 30px;
}

.btn-submit:hover{
	background: linear-gradient(120deg, #3ca7ee, #9b408f);
	cursor: pointer;
}

.sign-up{
	text-align: center;
}

.sign-up a{
	color: #2691d9;
	text-decoration: none;
	cursor: pointer;
	
}

.sign-up a:hover {
	text-decoration: underline;
}

.form-input{
    border: 1px solid #eee;
    border-radius: 4px;
    width: 100%;
    height: 50px;
    padding: 0 20px;
    transition: 0.3s ease;
}

.form-input:focus{
    border-color: #6a5af9;
    outline: none;
}

.form-field.error input{
	border:2px solid #e74c3c;
    outline: none;
}

.form-field.error input:focus + .form-label{
	color: #e74c3c;
}

.form-field{
    position: relative;
}

.form-label{
    position: absolute;
    top: 25px;
    transform: translateY(-50%);
    left: 21px;
    user-select: none;
    color: #999;
    pointer-events: none;
    transition: 0.3s ease;
}

.form-input:not(:placeholder-shown) + .form-label,

.form-input:focus + .form-label{
    top: 0;
    padding: 0 10px;
    display: inline-block;
    background-color: white;
    color: #6a5af9;
    left: 11px;
}

.container-logo{
	background: white;
	height: 390px;
}
.container-logo h1{
	margin: 15px;
}
.container-line{
	height: 390px;
	width: 10px;
	margin-right: 0;
	background: black;
}
.form-container{
    background: #fff;
    width: 400px;
    height: 600px;
    position: relative;
    text-align: center;
    padding: 20px 20px ;
    margin: auto;
    box-shadow: 0 0 20px 0px ;
    overflow: hidden;
    margin-top: -110px;
}
.form-container h1{
    margin: 0;
}


.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: auto;
    display: inline-block;
}

.form-btn{
    display: inline-block;
}
.form-container form{
    max-width: 450px;
    padding: 0 20px;
    top: auto;
    transition: 1.5s;
}

#LoginForm{
    top: 0;
    margin-bottom: 310px;
}
#LoginForm.error small{
	
}
#RegForm{
    top: 0px;
    
}

